@page "/hero"
@page "/hero{id:int}"
@inject ISuperHeroService SuperHeroSevice

@if (Id == null)
{
    <PageTitle>Create a new Super Hero </PageTitle>
        <h3>Create a new Super Hero </h3>
}
else{
        <PageTitle>Edit @hero.HeroNAme</PageTitle>
        <h3>Edit @hero.HeroNAme</h3>
}

@code {
    [Parameter]
    public int Id { get; set; }
    SuperHero hero = new SuperHero { Comic = new Comic() };
}
